@model IEnumerable<MakerFarm.Models.PrintErrorType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrintErrorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserError)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PrintErrorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserError)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrintErrorTypeId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrintErrorTypeId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrintErrorTypeId })
        </td>
    </tr>
}

</table>
