@model MakerFarm.Models.PrintEvent

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PrintEvent</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.EventType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.EventType, new SelectList(ViewBag.EventTypes), new { onchange = "changeError()"})
                @Html.ValidationMessageFor(model => model.EventType)
            </div>
        </div>
        @if (!ViewBag.Send)
{
    <div class="form-group">
        @Html.LabelFor(model => model.PrintErrorTypeId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.PrintErrorTypeId, (SelectList)ViewBag.FileErrors)
            @Html.ValidationMessageFor(model => model.PrintErrorTypeId)
        </div>
    </div>
}
        

        <div class="form-group">
            @Html.LabelFor(model => model.MaterialUsed, string.Concat("Material Used: (", (string)ViewBag.Print.PrinterType.MaterialUseUnit, ")"), new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.Send)
                {
                    @Html.Hidden("MaterialUsed", 0)
                    @ViewBag.PrintMaterials.ToString()
                }
                else
                {
                   @Html.EditorFor(model => model.MaterialUsed)
                   @Html.ValidationMessageFor(model => model.MaterialUsed) 
                }                
            </div>
        </div>

        @{string Error = ViewBag.PrinterAssignmentError;}
        <div class="form-group">
            @Html.LabelFor(model => model.PrinterId, "Printer:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.Send && !Error.Equals(""))
                {
                    <font color="red">@Error</font>
                }
                else {
                    @Html.DropDownListFor(model => model.PrinterId, (SelectList)ViewBag.PrinterId)
                    @Html.ValidationMessageFor(model => model.PrinterId)
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.Hidden("UserName", (string)ViewBag.CurrentUser)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrintId, "File Name:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @ViewBag.Print.FileName
                @Html.Hidden("PrintId", (long)ViewBag.Print.PrintId)
                @Html.ValidationMessageFor(model => model.PrintId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, "Comments:", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (ViewBag.Send && !Error.Equals(""))
                {

                }
                else {
                <input type="submit" value="Create" class="btn btn-default" />
                }
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Prints", new { id=ViewBag.Print.PrinterTypeId }, null)
</div>

<script>
    function changeError() {
        if ($('#EventType').val() == 'PRINT_FAILURE_FILE') {
            $('#PrintErrorTypeId').html('');
            $('#PrintErrorTypeId').html('@Html.Raw(ViewBag.HumanHTML)');
        }
        else if ($('#EventType').val() == 'PRINT_FAILURE_MACHINE') {
            $('#PrintErrorTypeId').html('');
            $('#PrintErrorTypeId').html('@Html.Raw(ViewBag.MachineHTML)');
        }
        else {
            $('#PrintErrorTypeId').html('');
        }
        return false;
    }
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


