@model IEnumerable<MakerFarm.Models.PrintEvent>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Print.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Printer.PrinterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTimeStamp)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaterialUsed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Print.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Printer.PrinterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTimeStamp)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaterialUsed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PrintEventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PrintEventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PrintEventId })
        </td>
    </tr>
}

</table>
