@model MakerFarm.Models.PrintSubmissionWaiverTerm

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PrintSubmissionWaiverTerm</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Enabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WaiverText, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.WaiverText)
                @Html.ValidationMessageFor(model => model.WaiverText)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShowInternalUsers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShowInternalUsers)
                @Html.ValidationMessageFor(model => model.ShowInternalUsers)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ShowExternalUsers, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ShowExternalUsers)
                @Html.ValidationMessageFor(model => model.ShowExternalUsers)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
