@model MakerFarm.Models.PrintSubmissionWaiverTerm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrintSubmissionWaiverTerm</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WaiverText)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WaiverText)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowInternalUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowInternalUsers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShowExternalUsers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShowExternalUsers)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrintSubmissionWaiverTermId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
