@model MakerFarm.Models.PrintErrorType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrintErrorType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PrintErrorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintErrorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserError)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserError)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrintErrorTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
