@model MakerFarm.Models.PrinterStatusLog

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PrinterStatusLog</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.LoggedPrinterStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.LoggedPrinterStatus, new SelectList(Enum.GetValues(typeof(MakerFarm.Models.PrinterStatus)).Cast<MakerFarm.Models.PrinterStatus>().ToList()))
                @Html.ValidationMessageFor(model => model.LoggedPrinterStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.PrinterId, null, new { @type = "hidden", @Value = ViewData["PrinterID"] })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Confirm" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Printer", "Details", "Printers", new { id = ViewData["PrinterID"] }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
