@model MakerFarm.Models.PrinterStatusLog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrinterStatusLog</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LogEntryDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LogEntryDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoggedPrinterStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoggedPrinterStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrinterStatusLogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
