@model MakerFarm.Models.PrinterStatusLog

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>PrinterStatusLog</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.PrinterStatusLogId)

        <div class="form-group">
            @Html.LabelFor(model => model.LogEntryDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LogEntryDate)
                @Html.ValidationMessageFor(model => model.LogEntryDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoggedPrinterStatus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoggedPrinterStatus)
                @Html.ValidationMessageFor(model => model.LoggedPrinterStatus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Comment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Comment)
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrinterId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PrinterId)
                @Html.ValidationMessageFor(model => model.PrinterId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
