@model MakerFarm.Models.UserProfile

@{
    ViewBag.Title = "Details";
    List<MakerFarm.Models.webpages_Role> Roles = (List<MakerFarm.Models.webpages_Role>)ViewData["Roles"];
    List<MakerFarm.Models.webpages_UsersInRole> UserRoles = (List<MakerFarm.Models.webpages_UsersInRole>)ViewData["UserRoles"];
    Dictionary<int, MakerFarm.Models.webpages_Role> RolesMaster = (Dictionary<int, MakerFarm.Models.webpages_Role>)ViewData["RolesMaster"];
}

<h2>Details</h2>

<div>
    <h4>UserProfile</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        @if (Roles.Count() > 0)
        {
            
        }
        <dt>
            @Html.Label("Roles", "Roles", null)
        </dt>

        <dd>
            @foreach(MakerFarm.Models.webpages_UsersInRole PresentRole in UserRoles)
            {

       using (Html.BeginForm("RemoveUserFromRole", "UserAdministration"))
        {
            @Html.AntiForgeryToken()
                    @Html.Hidden("UserId", Model.UserId)
                    @Html.Hidden("RoleId", PresentRole.RoleId)
                    @RolesMaster[PresentRole.RoleId].RoleName
                    <input type="submit" value="Remove Role" class="btn btn-default" />
                
        }
            }
        </dd>

        @if (Roles.Count() > 0)
        {
         
        <dt>
            @Html.Label("GroupId", "Add Role", null)
        </dt>

    <dd>

        @using (Html.BeginForm("AddUserToRole", "UserAdministration"))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.Hidden("UserId", Model.UserId)
                    @Html.DropDownList("RoleId", new SelectList(Roles, "RoleId", "RoleName"))
                    <input type="submit" value="Add Role" class="btn btn-default" />
                </div>
            </div>
        }
    </dd>

        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
