@model MakerFarm.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Client</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientAPIKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientAPIKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientUserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            Printer Permissions: @Html.ActionLink("Add Permission", "Create", "ClientPermissions", new { id = Model.ClientId }, null) 
        </dt>
        @foreach (MakerFarm.Models.ClientPermission perm in Model.ClientPermissions)
        {
            <dd>
                @perm.Machine.MachineName 
                | @if(perm.Machine.AffiliatedPrinter != null){ @perm.Machine.AffiliatedPrinter.PrinterName }else{<text>Unassigned</text>}
                | @Html.ActionLink("Delete", "Delete", "ClientPermissions", new { id = perm.ClientPermissionId }, null)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
<h3>Administrative Actions</h3>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClientId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.ClientId })
</p>
