@model MakerFarm.Models.MaterialCheckout

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaterialCheckout</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Material.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Material.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Printer.PrinterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Printer.PrinterName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialCheckoutId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
