<!DOCTYPE html>
<html lang="en">
@{
    string applicationTitle = System.Configuration.ConfigurationManager.AppSettings.Get("PageTitle");
    if (applicationTitle == null || applicationTitle.Equals(""))
    {
        applicationTitle = "MakerFarm";
    }
}
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - MakerFarm</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink(applicationTitle, "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Submit Print", "SubmissionSelection", "PrinterTypes")</li>
                            <li>@Html.ActionLink("Print Queues", "Index", "PrinterTypes")</li>
                        </ul>
                    </nav>
                    @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
                    {
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Materials", "Index", "Materials")</li> 
                            <li>@Html.ActionLink("Administration", "Administration", "Home")</li>
                        </ul>
                    </nav>
                    }
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            @if (User.Identity.IsAuthenticated) { 
                @Html.Action("UnwaiveredPrints", "Account")
            }
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    @RenderSection("footer", required: false)
                    <p>Makerfarm &copy; @DateTime.Now.Year - <a href="https://github.com/wildbillcat/">Wildbillcat</a></p>
                </div>
            </div>
        </footer>

        @Scripts.Render("~/bundles/jquery")
        @RenderSection("scripts", required: false)
    </body>
</html>
