@{
    ViewBag.Title = "Administration Panel";
}

<hgroup class="title">
    <h1>Administration</h1>
</hgroup>

<table class="table">
    <tr>
        <td>
            <a href=@Url.Action("Administration", "PrinterTypes")>
                <img src="@Url.Content("/Content/StaticIcons/print_class.png")" alt="Printer Types Icon" height="200" />
                <br />
                Printer Types Administration
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "Printers")>
                <img src="@Url.Content("/Content/StaticIcons/printer-2.png")" alt="Printers Icon" height="200" />
                <br />
                Printers Administration
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "PrinterStatusLogs")>
                <img src="@Url.Content("/Content/StaticIcons/okteta.png")" alt="Printer Status Logs Icon" height="200" />
                <br />
                Printer Status Logs
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "PrintErrorTypes")>
                <img src="@Url.Content("/Content/StaticIcons/dialog-error-5.png")" alt="Print Error Icon" height="200" />
                <br />
                Print Error Types
            </a>
        </td>
    </tr>
    <tr>
        <td>
            <a href=@Url.Action("Index", "PrintEvents")>
                <img src="@Url.Content("/Content/StaticIcons/view-calendar-upcoming-events.png")" alt="Print Events Icon" height="200" />
                <br />
                Print Events
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "PrintSubmissionWaiverTerms")>
                <img src="@Url.Content("/Content/StaticIcons/document-multiple.png")" alt="Print Submission Waiver Icon" height="200" />
                <br />
                Print Submission Waivers
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "UserAdministration")>
                <img src="@Url.Content("/Content/StaticIcons/system-settings-2.png")" alt="User Administration Icon" height="200" />
                <br />
                User Administration
            </a>
        </td>
        <td>
            <a href=@Url.Action("Index", "Bills")>
                <img src="@Url.Content("/Content/StaticIcons/emblem-money-2.png")" alt="Billing Administration Icon" height="200" />
                <br />
                Billing Administration
            </a>
        </td>
    </tr>
</table>
