@model MakerFarm.Models.Printer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Printer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.LabelFor(model => model.PrinterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterName)
        </dd>

        <dt>
            @Html.LabelFor(model => model.PrinterTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterTypeId)
        </dd>

    </dl>

</div>

        @if (Model.MaterialsInUse.Count() < Model.PrinterType.SupportedNumberMaterials)
        {
            //Add Material Dropdown and Button
            using (Html.BeginForm("Create","MaterialCheckouts")) 
            {
            @Html.AntiForgeryToken()
            <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @Html.Hidden("PrinterId", Model.PrinterId)
                        @Html.DropDownList("MaterialId", (SelectList)ViewData["Materials"])
                        <input type="submit" value="Add Material" class="btn btn-default" />
                    </div>
                </div>
            }

        }
        
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Material Type")
                </th>
                <th></th>
            </tr>

            @foreach (MakerFarm.Models.MaterialCheckout M in Model.MaterialsInUse)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => M.Material.MaterialName)
                    </td>
                    <td>
                        @Html.ActionLink("Delete", "Delete", "MaterialCheckouts", new { id = M.MaterialCheckoutId }, null)
                    </td>
                </tr>
            }

        </table>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrinterId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
