@model IEnumerable<MakerFarm.Models.Printer>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrinterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterTypeId)
        </th>
        <th>
            Printer Status
        </th>
        <th>
            Material Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.PrinterName, "Details", new { id = item.PrinterId })
        </td>
        <td>
            @ViewBag.PrinterNames[item.PrinterTypeId].TypeName
        </td>
        <th>
            @if(ViewBag.PrinterStatus.ContainsKey(item.PrinterId)){
                @ViewBag.PrinterStatus[item.PrinterId].LoggedPrinterStatus.ToString()
            }
            else
            {
                <text>Unknown</text>
            }
        </th>
        <th>
            @if (ViewBag.ValidMaterialStatus.Contains(item))
            {
                <text>Ready</text>
            }
            else
            {
                <text>Invaid</text>
            }
        </th>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.PrinterId }) | 
            @Html.ActionLink("Update Status", "Create", "PrinterStatusLogs", new { id = item.PrinterId }, null)
        </td>
    </tr>
}

</table>
