@model IEnumerable<MakerFarm.Models.Printer>
@{
    ViewBag.Title = "Printers";
}

<h2>Printers</h2>

@if (User.Identity.IsAuthenticated && Roles.IsUserInRole("Administrator"))
{ 
    <p>
        @Html.ActionLink("Create New Printer", "Create")
    </p>
}

<div id="ActivePrinters">
    @Html.Action("ActivePrinters", "Prints")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
        setInterval(function () {
            @Html.Raw("$('#ActivePrinters').load('")@Url.Action("ActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] }).ToString()@Html.Raw("');")
        }, 5000);
        $.ajaxSetup({ cache: false });  //Turn off caching
    });
    </script>

}
