@model IEnumerable<MakerFarm.Models.Printer>
@{
    ViewBag.Title = "Index";
    Dictionary<long, MakerFarm.Models.PrintEvent> PrintingAssignments = (Dictionary<long, MakerFarm.Models.PrintEvent>)ViewData["PrintingAssignments"];
    List<MakerFarm.Models.Print> Assigned = (List<MakerFarm.Models.Print>)ViewData["Assigned"];
}

<h2>Index</h2>

@if (User.Identity.IsAuthenticated && Roles.IsUserInRole("Administrator"))
{ 
    <p>
        @Html.ActionLink("Create New Printer", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PrinterName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterTypeId)
        </th>
        <th>
            Printer Status
        </th>
        <th>
            Material Status
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.PrinterName, "Details", new { id = item.PrinterId })
        </td>
        <td>
            @item.InternalName
        </td>
        <td>
            @ViewBag.PrinterNames[item.PrinterTypeId].TypeName
        </td>
        <td>
            @if(PrintingAssignments.ContainsKey(item.PrinterId)){
                <text>Printing: </text>
                @Html.ActionLink(Assigned.Find(p => p.PrintId.Equals(PrintingAssignments[item.PrinterId].PrintId)).FileName, "Details", "Prints", new { id = PrintingAssignments[item.PrinterId].PrintId }, null)
            }else 
            if(ViewBag.PrinterStatus.ContainsKey(item.PrinterId)){
                @ViewBag.PrinterStatus[item.PrinterId].LoggedPrinterStatus.ToString()
            }
            else
            {
                <text>Unknown</text>
            }
        </td>
        <td>
            @if (ViewBag.ValidMaterialStatus.Contains(item))
            {
                <text>Ready</text>
            }
            else
            {
                <text>Unknown</text>
            }
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.PrinterId }) | 
            @Html.ActionLink("Update Status", "Create", "PrinterStatusLogs", new { id = item.PrinterId }, null)
        </td>
    </tr>
}

</table>
