@model MakerFarm.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialSpoolQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialSpoolQuantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
