@model MakerFarm.Models.Material

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Material</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaterialName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialSpoolQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialSpoolQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuppportMaterial)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuppportMaterial)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Update Quantity", "UpdateQuantity", new { id = Model.MaterialId })
    @Html.ActionLink("Back to List", "Index")
</p>

@if (User.Identity.IsAuthenticated && Roles.IsUserInRole("Administrator"))
{
    <h5>Administrative Actions:</h5>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.MaterialId })
    </p>
}
