@model IEnumerable<MakerFarm.Models.Job>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <text>Print Name</text>
        </th>
        <th>
            <text>Print UserName</text>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.started)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.complete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.AffiliatedPrint.FileName, "Details", new { id = item.JobId })
        </td>
        <td>
            @item.AffiliatedPrint.UserName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.JobId })
        </td>
    </tr>
}

</table>
