@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<MakerFarm.Models.Job>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Print Name
        </th>
        <th>
            Print UserName
        </th>
        <th>
            Status
        </th>
        <th>
            Started?
        </th>
        <th>
            Complete?
        </th>
        <th>
            Completion Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.AffiliatedPrint.FileName, "Details", new { id = item.JobId })
        </td>
        <td>
            @item.AffiliatedPrint.UserName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.started)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.complete)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.JobId })
        </td>
    </tr>
}

</table>
