@model MakerFarm.Models.ClientPermission

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ClientPermission</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GetInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GetInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SetInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SetInformation)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to Client", "Details", "Clients", new { id = Model.Client.ClientId }, null)
        </div>
    }
</div>
