@model MakerFarm.Models.ClientPermission

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ClientPermission</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Client.ClientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.ClientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine.AffiliatedPrinter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine.AffiliatedPrinter)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
