@model MakerFarm.Models.ClientPermission

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ClientPermission</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ClientPermissionId)

        <div class="form-group">
            @Html.LabelFor(model => model.Client.ClientName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Client.ClientName
                @Html.Hidden("ClientId", Model.Client.ClientId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Machine.MachineName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Model.Machine.MachineName
                @Html.Hidden("MachineId", Model.Machine.MachineId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GetInformation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GetInformation)
                @Html.ValidationMessageFor(model => model.GetInformation)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SetInformation, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SetInformation)
                @Html.ValidationMessageFor(model => model.SetInformation)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Client", "Details", "Clients", new { id = Model.Client.ClientId }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
