@model MakerFarm.Models.Machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Machine</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MachineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MachineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AffiliatedPrinter.PrinterName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AffiliatedPrinter.PrinterName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @foreach (string S in Model.Status.Split('\n'))
            {
                @S
                <br />
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PauseMachine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PauseMachine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastUpdated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientJobSupport)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClientJobSupport)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoisonJobs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoisonJobs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Print_Send)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Print_Send)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Print_Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Print_Resume)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Print_Pause)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Print_Pause)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Print_Cancel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Print_Cancel)
        </dd>

        @if (Model.AssignedJob != null)
        {
         <dt>
            @Html.DisplayNameFor(model => model.AssignedJob)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedJob.JobId)
        </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MachineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
