@model MakerFarm.Models.Machine

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Machine</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.MachineId)

        <div class="form-group">
            @Html.LabelFor(model => model.MachineName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MachineName)
                @Html.ValidationMessageFor(model => model.MachineName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PrinterId, "PrinterId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PrinterId", String.Empty)
                @Html.ValidationMessageFor(model => model.PrinterId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idle, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.idle)
                @Html.ValidationMessageFor(model => model.idle)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PauseMachine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.PauseMachine)
                @Html.ValidationMessageFor(model => model.PauseMachine)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientJobSupport, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClientJobSupport)
                @Html.ValidationMessageFor(model => model.ClientJobSupport)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Enabled, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Enabled)
                @Html.ValidationMessageFor(model => model.Enabled)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PoisonJobs, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PoisonJobs)
                @Html.ValidationMessageFor(model => model.PoisonJobs)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Print_Send, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Print_Send)
                @Html.ValidationMessageFor(model => model.Print_Send)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Print_Cancel, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Print_Cancel)
                @Html.ValidationMessageFor(model => model.Print_Cancel)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Print_Pause, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Print_Pause)
                @Html.ValidationMessageFor(model => model.Print_Pause)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Print_Resume, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Print_Resume)
                @Html.ValidationMessageFor(model => model.Print_Resume)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
