@model MakerFarm.Models.PrinterType

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>PrinterType</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SupportedNumberMaterials)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SupportedNumberMaterials)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrinterIcon)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrinterIcon)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
