@model MakerFarm.Models.PrinterType

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PrinterType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportedNumberMaterials)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportedNumberMaterials)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaterialUseUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaterialUseUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrinterIcon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrinterIcon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxNumberUserAttempts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxNumberUserAttempts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupportedFileTypes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupportedFileTypes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CommentField)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CommentField)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PrinterTypeId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
