@model IEnumerable<MakerFarm.Models.PrinterType>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportedNumberMaterials)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterIcon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaxNumberUserAttempts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupportedFileTypes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportedNumberMaterials)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterIcon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaxNumberUserAttempts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupportedFileTypes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
