@model IEnumerable<MakerFarm.Models.PrinterType>

@{
    ViewBag.Title = "Index";
}

<h2>Available Printers</h2>

<table class="table">
    <tr>
@for(int i = 0; i < Model.Count(); i++){
    var item = Model.ElementAt(i);
    if (i % 3 == 0 && i != 0) { 
     @Html.Raw("</tr><tr>")
    }
    <td>
        <a href=@Url.Action("Index", "Prints", new { id = item.PrinterTypeId }, null)>
            <img src="@Url.Content(item.PrinterIcon)" alt="@item.TypeName Image" height="200" />
            <br />
            @item.TypeName
        </a>
    </td>
    if ((User.IsInRole("Administrator") || User.IsInRole("Moderator")) && (i == Model.Count() - 1))
    {
        i++;
        if (i % 3 == 0 && i != 0) { 
            @Html.Raw("</tr><tr>")
        }
        <td>
            <a href=@Url.Action("UnapprovedAdmin", "Prints", new { id = item.PrinterTypeId }, null)>
                <img src="@Url.Content("/Content/StaticIcons/Question.png")" alt="Unwaived Prints Icon" height="200"/>
                <br />
                Prints Missing Waivers
            </a>
        </td>
    } 
    
     }
    </tr>
</table>
