@{
    List<MakerFarm.Models.Printer> Printers = (List<MakerFarm.Models.Printer>)ViewData["Printers"];
    Dictionary<long, MakerFarm.Models.PrintEvent> PrintingAssignments = (Dictionary<long, MakerFarm.Models.PrintEvent>)ViewData["PrintingAssignments"];
    Dictionary<long, MakerFarm.Models.Print> Assigned = (Dictionary<long, MakerFarm.Models.Print>)ViewData["Assigned"];
    Dictionary<long, MakerFarm.Models.PrinterStatusLog> PrinterStatus = (Dictionary<long, MakerFarm.Models.PrinterStatusLog>)ViewData["PrinterStatus"];
    Dictionary<long, string> PrinterMaterials = (Dictionary<long, string>)ViewData["PrinterMaterials"];
}
<style>
    td {
        padding: 0.25em 2em 0.25em 0em;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }
</style>


<h3>Printers:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Printer")
        </th>
        <th>
            Printer Status
        </th>
        <th>
            HW Status
        </th> 
    </tr>

    @foreach (MakerFarm.Models.Printer item in Printers)
    {
        <tr>
            <td>
                <!--Printer Name-->
                @item.PrinterName
            </td><!--End Printer Name-->
            <td><!--Printer Status/Username + Print File-->
                <!--Test if Printer is Active-->
                @if (PrintingAssignments.ContainsKey(item.PrinterId))
                {
                    <text>User: </text> @Assigned[PrintingAssignments[item.PrinterId].PrintId].UserName <text> | Printing: </text> @Assigned[PrintingAssignments[item.PrinterId].PrintId].FileName
                }
                else
                {
                    if (PrinterStatus.ContainsKey(item.PrinterId))
                        {<!--If Printer has a status-->
                            if (PrinterStatus[item.PrinterId].LoggedPrinterStatus == MakerFarm.Models.PrinterStatus.RequiresMaintenance)
                            {
                                <text>Online</text>
                            }
                            else
                            {
                                @PrinterStatus[item.PrinterId].LoggedPrinterStatus.ToString()
                            }
                        }
                        else
                        {<!--If Printer Status is unkown, mark it as down-->
                        <text>Offline</text>
                        }
                    }
            </td><!--End Printer Status/Username + Print File-->
            <td><!--Printer Hardware Status-->
                @Html.Action("PhysicalPrinterStatus", "Printers", new { id = item.PrinterId, compressed = true })
            </td><!--End Printer Hardware Status-->
            @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
            {
            <td><!--Printer Materials-->
                @PrinterMaterials[item.PrinterId]
            </td><!--End Printer Materials-->
            }
            @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
            {
                if (PrintingAssignments.ContainsKey(item.PrinterId))
                {<!--Printer is Active-->
                <td>@PrintingAssignments[item.PrinterId].Comment</td>
                <td>@Html.ActionLink("Update Status", "Create", "PrintEvents", new { id = PrintingAssignments[item.PrinterId].PrintId }, null)</td>
                }
                else if (PrinterStatus.ContainsKey(item.PrinterId))
                {<!--Printer is Not Active-->
                <td>@PrinterStatus[item.PrinterId].Comment</td>
                <td>@Html.ActionLink("Update Status", "Create", "PrinterStatusLogs", new { id = item.PrinterId }, null)</td>
                }
                else
                {
                    <td></td>
                    <td>@Html.ActionLink("Update Status", "Create", "PrinterStatusLogs", new { id = item.PrinterId }, null)</td>
                }
            }
        </tr>
    }
</table>


