@model IEnumerable<MakerFarm.Models.Print>

@{
    ViewBag.Title = "Completed";
    Dictionary<long, MakerFarm.Models.PrintEvent> PrintingAssignments = (Dictionary<long, MakerFarm.Models.PrintEvent>)ViewBag.PrintingAssignments;
}

<h2>Completed</h2>

<p>
    @Html.ActionLink("Current Queue", "Index", new { id = ViewBag.id })
    <br /><br />
    @Html.ActionLink("Submit Print", "Create", new { id = ViewBag.id })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            Material Used
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </th>
        <th>
            Completion Time
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @PrintingAssignments[item.PrintId].MaterialUsed
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionTime)
        </td>
        <td>
            @PrintingAssignments[item.PrintId].EventTimeStamp
        </td>
        <td>
            @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator") || User.Identity.Name.Equals(item.UserName)))
            {
                @Html.ActionLink("Details", "Details", new { id = item.PrintId })
            }
            @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
            {
                <text> | </text>
                @Html.ActionLink("Restart Print", "Create", "PrintEvents", new { id = item.PrintId }, null)
            }
        </td>
    </tr>
}

</table>
