@model MakerFarm.Models.Print

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Print</legend>

        <div class="editor-field">
            @Html.TextBoxFor(model => model.UserID, null, new { @type = "hidden", @Value = ViewData["CurrentUser"] })
        </div>

        <div class="editor-label">
            @Html.Label("Print File:")
        </div>
        <div class="editor-field">
            @Html.TextBox("PrintFile", null, new { @id="PrintFile", @name="PrintFile", @type="file", @required="required" })
            @Html.ValidationMessage("PrintFile")
        </div>

        @for (int i = 0; i < (int)ViewData["SupportedMaterials"]; i++)
        { 
        <div class="editor-label">
            @Html.Label(string.Concat("Material ", (1+i).ToString()))
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.MaterialIDs[i], (SelectList)ViewData["MaterialsList"])
            @Html.ValidationMessageFor(model => model.MaterialIDs[i])
        </div>
        }

        <div class="editor-label">
            @Html.LabelFor(model => model.EstMaterialUse)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstMaterialUse)
            @Html.ValidationMessageFor(model => model.EstMaterialUse)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EstToolpathTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EstToolpathTime)
            @Html.ValidationMessageFor(model => model.EstToolpathTime)
        </div>
                
        <div class="editor-label">
            @Html.LabelFor(model => model.AuthorizedAttempts)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.AuthorizedAttempts, (SelectList)ViewData["MaxNumberUserAttempts"])
            @Html.ValidationMessageFor(model => model.AuthorizedAttempts)
        </div>

        <div class="editor-field">
            @Html.TextBoxFor(model => model.PrinterTypeID, null, new { @type = "hidden", @Value = Url.RequestContext.RouteData.Values["id"] })
            @Html.ValidationMessageFor(model => model.PrinterTypeID)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
<script>
    
    $('input[type=file]').change(function (e) {
        var file = $(this).val();
        var ext = file.split('.').pop();
        var list = '@ViewBag.SupportedFileTypes';
        var invalid = true;
        var pext = list.split(',');
        var ValidTypeMSG = "Valid File Types are: "
        if (pext.length > 0)
        {
            for (var i = 0; i < pext.length; i++) {
                if (ext == pext[i]) {
                    invalid = false;
                }
                ValidTypeMSG = ValidTypeMSG + pext[i];
            }
        } else {
            if (ext == list) {
                invalid = false;
                ValidTypeMSG = ValidTypeMSG + list;
            }
        }
        
        if (invalid)
        {
            alert("Invaild File Type: " + ext + "\n Valid File Types: " + '@ViewBag.SupportedFileTypes');
        }
        
    });

</script>

        }