@model MakerFarm.Models.Print

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Print</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SubmissionTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubmissionTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EstToolpathTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstToolpathTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AuthorizedAttempts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorizedAttempts)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrinterTypeID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrinterTypeID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StaffAssitedPrint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaffAssitedPrint)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PrinterTypeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
