@model MakerFarm.Models.Print

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Print</legend>

    <div class="display-label">
         @Html.LabelFor(model => model.FileName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FileName)
    </div>

    @foreach (string S in (List<string>)ViewData["MaterialsList"])
    {
        <div class="editor-label">
            @Html.Label("Material:")
        </div>
        <div class="editor-field">
            @S
        </div>
    }

    <div class="display-label">
         @Html.LabelFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.SubmissionTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SubmissionTime)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.EstToolpathTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EstToolpathTime)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.AuthorizedAttempts)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AuthorizedAttempts)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.PrinterTypeId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrinterTypeId)
    </div>

    <div class="display-label">
         @Html.LabelFor(model => model.StaffAssistedPrint)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StaffAssistedPrint)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PrintId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h3>Print Log:</h3>
<table class="table">
    <tr>
        <th>
            Event TimeStamp
        </th>
        <th>
            Event Type
        </th>
        <th>
            Printer
        </th>
        <th>
            User
        </th>
        <th>
            Material Used
        </th>
    </tr>

    @foreach (MakerFarm.Models.PrintEvent p in Model.PrintEvents.OrderByDescending(x => x.EventTimeStamp))
    {
        <tr>
            <td>
                @p.EventTimeStamp
            </td>
            <td>
                @p.EventType
            </td>
            <td>
                @p.Printer.PrinterName
            </td>
            <td>
                @p.UserName
            </td>
            <td>
                @p.MaterialUsed
            </td>
        </tr>
    }
</table>