@model IEnumerable<MakerFarm.Models.Print>
@{
    Dictionary<long, MakerFarm.Models.Print> UnstartedCancelEligiblePrints = (Dictionary<long, MakerFarm.Models.Print>)ViewBag.CancelEligible;
}
<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Past Prints", "Completed", new { id = ViewBag.id })
</p>

@if (((List<MakerFarm.Models.Print>)ViewBag.Assigned).Count() > 0)
{
<h3>Currently Printing:</h3>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Assigned Printer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in (List<MakerFarm.Models.Print>)ViewBag.Assigned)
        {
    <tr>
        <td>
        @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator"))) 
        {
            @Html.ActionLink((string)ViewBag.PrintingAssignments[item.PrintId].Printer.PrinterName, "details", "Printers", new { id = ViewBag.PrintingAssignments[item.PrintId].Printer.PrinterId}, null)
        }
        else
        {
            @ViewBag.PrintingAssignments[item.PrintId].Printer.PrinterName
        }    
        </td>
        <td>
        @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator") || User.Identity.Name.Equals(item.UserName)))
        {
            @Html.ActionLink(item.FileName, "Details", new { id = item.PrintId })    
        }
        else
        {
            @item.FileName
        }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TermsAndConditionsAgreement
)
        </td>
        <td>
        @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
        {
            @Html.ActionLink("Update Status", "Create", "PrintEvents", new { id = item.PrintId}, null)
        }
        </td>
    </tr>
        }
</table>
}

    <h3>Queue to be Printed in Order:</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubmissionTime)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator") || User.Identity.Name.Equals(item.UserName)))
                {
                @Html.ActionLink(item.FileName, "Details", new { id = item.PrintId })   
                }
                else
                {
                @item.FileName
                }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TermsAndConditionsAgreement)
                </td>
                <td>
                @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator") || User.Identity.Name.Equals(item.UserName)))
                    {
                        @Html.ActionLink("Details", "Details", new { id = item.PrintId })
                    }
                    @if (User.Identity.IsAuthenticated && (Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")))
                    {
                        <text> | </text>
                        @Html.ActionLink("Action", "Create", "PrintEvents", new { id = item.PrintId}, null)
                    }
                    else if (User.Identity.IsAuthenticated && !(Roles.IsUserInRole("Moderator") || Roles.IsUserInRole("Administrator")) && User.Identity.Name.Equals(item.UserName) && UnstartedCancelEligiblePrints.ContainsKey(item.PrintId))
                    {
                        @Html.ActionLink("Cancel", "Cancel", new { id = item.PrintId })
                    }
                </td>
            </tr>
        }

    </table>
