

@{
    MakerFarm.Models.PrinterType PType = (MakerFarm.Models.PrinterType)ViewData["PType"];
    ViewBag.Title = PType.TypeName;
}

<h2>@PType.TypeName Queue</h2>

<p>
    <input type="button" value="Past Prints" onclick="location.href='@Url.Action("PastPrints", new { id = PType.PrinterTypeId })'" />
</p>

<div id="ActivePrinters">
    @Html.Action("ActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] })
</div>


<div id="PrintQueue">
    @Html.Action("PrintQueue", new { id = @Url.RequestContext.RouteData.Values["id"] })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {        
            setInterval(function () {
                @Html.Raw("$.get(\"")@Url.Action("ActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] }).ToString()@Html.Raw("\", function (tmpVar) {")
                    $('#ActivePrinters').html(tmpVar)
                @Html.Raw("});")   
                }, 5000);
            setInterval(function () {
                @Html.Raw("$.get(\"")@Url.Action("PrintQueue", new { id = @Url.RequestContext.RouteData.Values["id"] }).ToString()@Html.Raw("\", function (tmpVar) {")
                    $('#PrintQueue').html(tmpVar)
                @Html.Raw("});")          
            }, 30000); //Refreshes every 5 seconds
            $.ajaxSetup({ cache: false });  //Turn off caching
        });
    </script>

}
