@model IEnumerable<MakerFarm.Models.Print>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SMBPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstPrintCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalPrintCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstToolpathTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorizedAttempts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrinterTypeID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StaffAssitedPrint)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SMBPath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstPrintCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalPrintCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubmissionTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstToolpathTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorizedAttempts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrinterTypeID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StaffAssitedPrint)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
