

@{
    ViewBag.Title = "New Print Index";
}

<h2>New Print Index (IE Queue)</h2>
<div id="ActivePrinters">
    @Html.Action("ActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] })
</div>


<div id="PrintQueue">
    @Html.Action("PrintQueue", new { id = @Url.RequestContext.RouteData.Values["id"] })
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function () {
        setInterval(function () {
            @Html.Raw("$('#ActivePrinters').load('")@Url.Action("ActivePrinters", new { id = @Url.RequestContext.RouteData.Values["id"] }).ToString()@Html.Raw("');")
        }, 5000);
        setInterval(function () {
            @Html.Raw("$('#PrintQueue').load('")@Url.Action("PrintQueue", new { id = @Url.RequestContext.RouteData.Values["id"] }).ToString()@Html.Raw("');")
          }, 30000); //Refreshes every 5 seconds
        $.ajaxSetup({ cache: false });  //Turn off caching
    });
    </script>

}
