@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<MakerFarm.Models.Bill>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Previous Billings";
}

<h2>Previous Billings</h2>

@using (Html.BeginForm("BillingHistory", "Bills", FormMethod.Get))
{
    <p>
        Find by UserName: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Username", "BillingHistory", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            File Name
        </th>
        <th>
            @Html.ActionLink("Billing Time", "BillingHistory", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })
        </th>
        <th>
            Total Billing Amount
        </th>
        <th>
            Print Event Id
        </th>
        <th>
            Print Id
        </th>
        <th>
            Comment
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Print.UserName
        </td>
        <td>
            @item.Print.FileName
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BillingTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalBillingAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintEventId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrintId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.BillId })
        </td>
    </tr>
}

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("BillingHistory",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
