@model MakerFarm.Models.Bill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bill</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalBillingAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalBillingAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintEventId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintEventId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrintId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrintId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
